body {
  font-family: "Poppins", sans-serif;
  background: black;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
header {padding:200px;
    text-align: center;
    color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("images/lisbon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header h1{font-weight:700;
font-size: 96px;
line-height:1;

margin: 30px 0;}

header h2{
    font: weight 400px;
    font: size 40px;
    line-height: 1.5;
    margin: 0;
}
header h3{
    font-weight:900px;
    font-size: 24px;
    line-height: 1.5;
    margin: 0;
    letter-spacing: 5px;
}

header a{
    display: inline-block;
    font-weight:700px;
    font-size: 14px;
    line-height: 1.5;
    color:#272044;
    padding: 16px 32px;
    background: white;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 50px
}

@media (max-width:900px){
 header {padding:60px 0;
}
header h1 {font-size: 38px;
}
header h2{font-size: 20px;
}
header h3{font-size: 12px;
}
}