body {
  font-family: "Poppins", sans-serif;
  background: #180E11;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
header {padding:200px;
    text-align: center;
    color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("images/lisbon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header h1{font-weight:700;
font-size: 96px;
line-height:1;

margin: 30px 0;}

header h2{
    font: weight 400px;
    font: size 40px;
    line-height: 1.5;
    margin: 0;
}
header h3{
    font-weight:900px;
    font-size: 24px;
    line-height: 1.5;
    margin: 0;
    letter-spacing: 5px;
}

header a{
    display: inline-block;
    font-weight:700px;
    font-size: 14px;
    line-height: 1.5;
    color:#272044;
    padding: 16px 32px;
    background: white;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 50px
}

main{
    background: white;
}
main h2{ font-weight:700px;
font-size: 16px;
line-height: 1.5;
letter-spacing: 5px;
color: #272044;
opacity:0.3;
text-transform: uppercase;
margin:0;}
main h3{
    font-weight:700px;
font-size: 40px;
line-height: 1.5;
color: #272044;
margin:0;
}
main p{
    font-style:normal;
    font-weight:400px;
font-size: 16px;
line-height: 24px;
color: #272044;
opacity:0.7;
}
.grid{display: grid;
grid-gap:64px;}
.img-responsive{
    max-width: 100%;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
footer{color:white;
    background-color: #180E11;
background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(images/lisbon.jpg);
background-position: bottom;
background-repeat: no-repeat;
text-align: left;

}

footer h3{
    font-weight: 700px;
    font-size: 20px;
    line-height:30px;
}
footer p{
    font-weight: 400px;
    font-size: 16px;
    line-height:24px;
    opacity: 0.8;
}
footer ul{
    margin:0;
    padding:0;
}
footer li{
    list-style: none;
margin:0;
padding:0;


}
footer a{ color:white;
opacity:0.7;}
section{ max-width:1200px ;
margin:0 auto;
padding:100px}


@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }
}